---
- name: Update system packages
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - git
      - curl
      - unzip
      - python3
      - python3-pip
    state: present
