name: CI-CD to EKS

on:
  push:
    branches: ["main"]

permissions:
  contents: read

env:
  AWS_REGION: "us-east-1"
  CLUSTER_NAME: "devops-eks"
  DOCKERHUB_USERNAME: "saeedgebaly"
  DOCKERHUB_REPO: "devops-app"

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t $DOCKERHUB_USERNAME/$DOCKERHUB_REPO:latest .

      - name: Push Docker image
        run: |
          docker push $DOCKERHUB_USERNAME/$DOCKERHUB_REPO:latest

  deploy:
    name: Deploy to EKS Cluster
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
          --name $CLUSTER_NAME \
          --region $AWS_REGION

      - name: Replace image placeholder in deployment
        run: |
          sed -i "s|IMAGE_PLACEHOLDER|$DOCKERHUB_USERNAME/$DOCKERHUB_REPO:latest|" k8s/deployment.yaml

      - name: Apply manifests to EKS
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

